<div>
  <h2>Product Add</h2>
  <div>
    <label>Product Name:
      <input [(ngModel)]="NewProductData.prod_name" placeholder="Product Name" />
    </label><br>
    <label>Product Desc:
      <input [(ngModel)]="NewProductData.prod_desc" placeholder="Product Description" />
    </label><br>
    <label>Product Price:
      <input [(ngModel)]="NewProductData.prod_price" placeholder="Product Price" />
    </label><br>
  </div>
  <button (click)="addProduct()">Save</button>
</div>
