<h2>Product List</h2>
<div>
  <button (click)="add()">
    Add
  </button>
</div>
<ul class="products">
  <li *ngFor="let element of products; let i=index;">
    <a routerLink="/product-detail/{{element.id}}">
      <span class="badge">{{i+1}}</span> {{element.prod_name}}
    </a>
    <button class="delete" title="delete product" (click)="delete(element.id)">x</button>
  </li>
</ul>
